body, html {
    height: 100vh;
    background-color:#41393d ;
    margin: 0;
    font-family: majesti, sans-serif;
    line-height: 180%;
     color: white ;
    ;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    margin-left: 0;
}

nav .nav_links{
    width: 100%;
    float: left;
}

nav .nav_links  li {        
    text-align: center;    
    list-style: none;  
    display: inline-block;
    padding: 0px 20px;    
}

 .nav_links li a {
    transition: all 0.3s ease 0s;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size:1.5em;
    font-family:majesti-banner-light, serif;
}

nav .nav_links li a:hover {
    color:#be1e2d;
}

.heading {
    position: absolute;
    color: #d7e4c2;
    top: 38%;
    left: 10%;
     
}

.heading > .town {
    margin: 0 auto;
}

.heading-small {
    position: absolute;
    top: 45%;
    width: 100%;
    color: #fff;
    font-size: 250%;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 0 0 10px black;
}

.two-col {
    float: left;
    width: 42%;
    padding: 0 4% ;
    text-align: center;
    color: #fff;
}

section {
    overflow: auto;
    padding: 50px 80px;
}
h3 {
    font-family:majesti-banner-light, serif;
    font-size: 1.5em;
}
h1 {
    color: #be1e2d;
}

#fine {
font-family:majesti-banner-light;
color:#000;
}

.one-col {
    font-family:majesti-banner-light;
}

.dark {
    overflow: auto;
    padding: 50px 80px;
    background-color:#41393d ;
    color: #fff;
}


.secOne {
    background-color: #41393d ; 
    color: #fff;   
    padding-top: 2em;
    padding-bottom: 2em;
    font-family:majesti-banner-light;

}

.secTwo {
    background-color: #41393d; 
    overflow: hidden; 
    padding-top: 0;
    margin-top: 0;    
    color: #fff;   
    padding-bottom: 0em;
    font-family:majesti-banner-light;
}

.secThree {
    background-color: #41393d;
    color: #ef4e22;
    height:70%;
    font-family:majesti-banner-light;
    padding-top: 2em;
    padding-bottom: 2em;
}

.parallax1 {
    background-image: url("../images/porcelain-4380201__340.jpg");
           min-height: 100%;
           
}

.parallax2 {
    background: url('../images/mooncake-2409854__340.jpg');
    min-height: 80%;
}

.parallax3 {
    background: url('../images/sushi-2856544__340.jpg');
    min-height: 60%;
}

.parallax4 {
    background: url('../images/mooncake-2409855__340.jpg');
    min-height: 100%;
    background-size: cover;
    
    
}
.parallax1,.parallax2, .parallax3, .parallax4 {
    opacity: 75%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: hidden;
}
/* reservation form */
.reserve {
    max-width:50%; 
    height: auto;
    margin:1rem auto;
    border: .5rem solid #fff;
    border-radius:3em;
    border-style:double;
    padding: 0.5rem;       
    background-color: #41393d; 
}

label {
    display: block;
    text-align: center ;
} 
input textarea {
    display: block;
    width: 90%;  
}

input {
    border-radius: .5em;
    width: 80%;
    height: 3rem;  
    margin: 0 auto;    
}
.datetime-local {
    width: 50%;
    margin: 0 auto;
    font-size: 1rem
}
.submit {    
    width: 30%;
    font-size: 1rem;
    background-color: #be1e2d;
}
    

/* select > option:nth-child(1) {
    font-size: 3rem;
    text-align: center;
} */


/* menu */

.menuBody {
    margin: 0;
    padding: 0;
    background: #41393d;
 }

 .container {
     position: relative;
     margin: 0 auto;
     width: 100%;
     height: 100%;
     overflow: hidden;
     background: #0000;   
     text-align: center; 
 }

.container ul {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

ul li {
     list-style: none;
}

ul li .slide {
    position: absolute;
    width: 100%;     
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 0.5s;
    transform: rotateY(90deg);
    transform-origin: left; 
}
ul li input[type="radio"] {
    position: relative;    
    z-index: 1;
    height: 20px;
    width: 20px;
}
 ul li input[type="radio"]:checked ~ .slide {
    transition: transform 0.5s;
    transform: rotateY(0deg);
    transform-origin: left; 
}

ul li .slide img {    
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;    
}

ul li input[type="radio"]:checked ~ .slide img {
    animation: animate 40s linear infinite;
}

/* media */

@media (max-width: 768px) {
    .heading {
        font-size: 250%;
    }
    .heading-small {
        font-size: 180%;
    }
    .two-col {
        width: 100%;
        padding: 0 ;
    }
    .footer {
        background-color: #41393d; 
        overflow: hidden;     
        color: #fff;  
        padding-bottom: 2em;
    }
    .footer p {
        font-family: majesti-banner-light, serif;
        color: #fff;
        font-size: .5em;
        
    }
}
