body, html {
    height: 100vh;
    background-color:#41393d ;
    margin: 0;
    font-family: majesti, sans-serif;
    line-height: 180%;
     color: white ;
    ;
    text-align: center;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    transition: transform .5s ease;
}
body > header > img .logo {
  cursor: pointer;
  margin-left: 0;
  width: 15%;
  height: auto;
  transition: transform .5s ease;
}

.logo {
  cursor: pointer;
  margin-left: 0;
  width: 20%;
  height: auto;
  transition: transform .5s ease;
}

.logo:hover {
  transform: scale(1.1);  
}

footer .logoF {
  cursor: pointer;
  margin: 0 auto;
  width: 5%;
  height: auto;
  transition: transform .3s ease;
}

footer .logoF:hover {
  transform: scale(1.1);  
}

.town {
  height: auto;
  width: 80%;
}

.contactModal {
  width: 5rem;
  height: auto;
  text-align: center;
  float: right;  
}

nav .nav_links {
  width: 100%;
  float: left;
  text-shadow: 2px 2px #000;
}

nav .nav_links li {
  text-align: center;
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.5em;
  font-family: majesti-banner-light, serif;
}

nav .nav_links li a:hover {
  color: #be1e2d;
}

.heading {
  position: absolute;
  color: #d7e4c2;
  top: 38%;
  left: 10%;
}

.heading > .town {
  margin: 0 auto;
}

.heading-small {
  position: absolute;
  top: 45%;
  width: 100%;
  color: #fff;
  font-size: 250%;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 0 0 10px black;
}

.two-col {
  float: left;
  width: 42%;
  padding: 0 4%;
  text-align: center;
  color: #fff;
}

section {
  overflow: auto;
  padding: 50px 80px;
}
h3 {
  font-family: majesti-banner-light, serif;
  font-size: 1.5em;
}
h2 {
  color: #be1e2d;
  padding-bottom: 2em;
  margin: 0;
}

#fine {
  font-family: majesti-banner-light;
  color: #000;
}

.one-col {
  font-family: majesti-banner-light;
  text-align: center;
  width: 100%;
  height: auto;
  margin: auto;
  border: 0.5rem solid #fff;
  border-radius: 3em;
  border-style: double;
  padding: 0.5rem;
  font-size: 1rem;
}

.dark {
  overflow: auto;
  padding: 50px 80px;
  background-color: #41393d;
  color: #fff;
}

.secOne {
  background-color: #41393d;
  color: #fff;
  padding-top: 2em;
  padding-bottom: 2em;
  font-family: majesti-banner-light;
  margin-bottom: 2em;
}

.secTwo {
  background-color: #41393d;
  overflow: hidden;
  padding-top: 0;
  margin-top: 0;
  color: #fff;
  font-family: majesti-banner-light;
  height: auto;
}

.secThree {
  background-color: #41393d;
  color: #ef4e22;
  height: 70%;
  font-family: majesti-banner-light;
  padding-top: 2em;
  margin-bottom: 2em;
}

.parallax1 {
  background-image: url("../images/porcelain-4380201__340.jpg");
  min-height: 100%;
}

.parallax2 {
  background: url("../images/mooncake-2409854__340.jpg");
  min-height: 80%;
}

.parallax3 {
  background: url("../images/sushi-2856544__340.jpg");
  min-height: 60%;
}

.parallax4 {
  background: url("../images/mooncake-2409855__340.jpg");
  min-height: 100%;
  background-size: cover;
}
.parallax1,
.parallax2,
.parallax3,
.parallax4 {
  opacity: 75%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: hidden;
}

/* reservations section */
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.column #specials {
  flex: 33.33%;
  padding: 5px;
}

.Chopsticks {
  width: 50%;
  height: auto;
  margin: auto;
  border: 0.5rem solid #fff;
  border-radius: 3em;
  border-style: double;
  padding: 0.5rem;
}

.food {
  width: 50%;
  height: auto;
  margin: auto;
  border: 0.5rem solid #fff;
  border-radius: 3em;
  border-style: double;
  padding: 0.5rem;
}

.special {
  width: 75%;
  height: auto;
  margin: auto;
  border: 0.5rem solid #fff;
  border-radius: 3em;
  border-style: double;
  padding: 0.25rem;
}

.reserve {
  max-width: 100%;
  height: auto;
  margin: 0em auto;
  border: 0.5rem solid #fff;
  border-radius: 3em;
  border-style: double;
  padding: 0rem;
  background-color: #41393d;
}

label {
  display: block;
  text-align: center;
}
input textarea {
  display: block;
  width: 90%;
}

input {
  border-radius: 0.5em;
  width: 80%;
  height: 3rem;
  margin: 0 auto;
}
.datetime-local {
  width: 90%;
  margin: 0 auto;
  font-size: 1rem;
}
.submit {
  width: 30%;
  font-size: 1rem;  
  background-color: #be1e2d;
}
.submit:hover {
  width: 30%;
  font-size: 1rem;
  background-color: #fff;
}
textarea {
  width: 80%;
  height: auto;
  border-radius: 0.5em;
}

/* menu */

.menuBody {
  margin: 0;
  padding: 0;
  background: #41393d;
  height: 1000px;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #0000;
  text-align: center;
}

.container ul {
  margin: auto;
  padding: 0;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


.left {
  float: left;
  width: 33%;
}
.middle {
  float: left;
  width: 30%;
}
.right {
  float: left;
  width: 33%;
}

.happy {
  width: 50%;
  height: auto;
  margin: auto;
  border: 0.5rem solid #fff;
  border-radius: 1em;
  border-style: double;
  padding: 0.5rem;
}

ul li {
  list-style: none;
}

ul li .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: transform 0.5s;
  transform: rotateY(90deg);
  transform-origin: left;
}
ul li input[type="radio"] {
  position: relative;
  z-index: 1;
  height: 30px;
  width: 30px;
  color: #be1e2d;
}

ul li input[type="radio"]:checked ~ .slide {
  transition: transform 0.5s;
  transform: rotateY(0deg);
  transform-origin: left;
}

ul li .slide img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

ul li input[type="radio"]:checked ~ .slide img {
  animation: animate 40s linear infinite;
}

/* modal */
body {
  font-family: majesti-banner-light, serif;
  background: no-repeat;
  background-size: cover;
  position: absolute;
  z-index:2;
  height: 100vh;  
}

h1 {
  text-align: center;
  font-family: majesti-banner-light, serif;
  margin: 80px 0;
}

.button {
  font-size: 1em;
  padding: 0.5em;
  color: #41393d;
  background-color: #be1e2d;
  border: 2px solid #fff;
  border-radius: 5px/10px;
  text-decoration: none;
   box-shadow: 5px 5px 2px rgb(41, 40, 40);
  cursor: pointer;  
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #fff;
  color: #be1e2d;
}
.overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.modal {
  margin: 70px auto;
  padding: 20px;
  background-color: #41393d;
  border-radius: 5px;
  width: 30%;
  position: relative;  
  transition: all 5s ease-in-out;
}

.modal h2 {
  margin-top: 0;
  color: #be1e2d;
  font-family: majesti-banner-light serif;
}
.modal .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
.modal .close:hover {
  color: #be1e2d;
}
.modal .content {
  max-height: 30%;
  overflow: auto;
}

/* footer */
.footer {
    background-color: #41393d;
    overflow: hidden;
    color: #fff;
    padding-bottom: 2em;
    margin-bottom: 0;
  }
  .footer p {
    font-family: majesti-banner-light, serif;
    color: #fff;
    font-size: 1em;
    position: absolute;
    z-index: 1;
     text-shadow: 3px 3px 1px rgb(43, 40, 40);
  }
  .menuFooter p {
    text-align: center;
  


/* media */

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .modal {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 250%;
  }
  .heading-small {
    font-size: 180%;
  }
  .two-col {
    width: 100%;
    padding: 0;
  }
  